<app-basics-components></app-basics-components>

<!--

<app-basics-components></app-basics-components>

<hr>

<app-basics-databinding></app-basics-databinding>

<hr>

<app-basics-directives></app-basics-directives>

<hr>

<app-basics-solution3></app-basics-solution3>

<hr>

<app-cmp-databinding-final></app-cmp-databinding-final>

<hr>

<app-cmp-databinding-solution></app-cmp-databinding-solution>

<hr>

<app-input></app-input>

<hr>

<app-more-directives></app-more-directives>

<hr>

<app-more-directives1></app-more-directives1>

<hr>

<app-service-final></app-service-final>

<hr>

<app-service-solution></app-service-solution>


<hr>

<app-td-final></app-td-final>


<hr>

<app-http-get-post></app-http-get-post>

<hr>

<app-http-loading></app-http-loading>

<hr>
<app-http-request></app-http-request>

<hr>
<app-observable-final></app-observable-final>

-->
